* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  margin: auto;
  width: 90%;
}
@media screen and (min-width: 1024px) {
  body {
    width: 80%;
  }
}

/*HEADER*/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: relative;
  height: 5rem;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: flex-end;
}

.logo {
  width: 70px;
  height: 40px;
}

.navbar__itemsContainer {
  list-style: none;
  font-weight: 400;
  font-size: 16px;
  padding: 0 1rem;
  display: none;
}

.navAbierto {
  margin-top: 700px;
  background-color: #fff;
  height: 100vmax;
  display: flex;
  flex-direction: column;
  gap: 1.5rem 0;
  justify-content: center;
  position: relative;
  padding-right: 7rem;
  z-index: 10;
}


.boton__menu{
  background-color: transparent;
  border: none !important;
  position: absolute;
  z-index: 5000;
  right: 5%;
}

ul > li:hover {
  color: hsl(35deg, 77%, 62%);
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  #boton {
    display: none;
  }
  .navbar__itemsContainer {
    display: flex;
    gap: 0 1.5rem;
  }
}

/**MAIN**/

.nota1 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100%;
  width: 100%;
  padding: 2rem 1rem;
}

.imgContainer {
  overflow: hidden;
  -o-object-fit: cover;
  object-fit: cover;
}

.desktopImg {
  display: none;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
  object-fit: fill;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  height: 100%;
}

.text > h1 {
  font-weight: 900;
  line-height: 1;
  font-size: 3rem;
  padding-bottom: -10px;
  width: 95%;
}

.text__parrafo {

  font-size: 14px;
  line-height: 25px;
  width: 93%;
}

.text__botonLink {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: hsl(5deg, 85%, 63%);
  color: #fff;
  width: 185px;
  height: 3rem;
  font-size: 0.9rem;
  font-weight: 550;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-top: 1.5rem;
}

p > a:hover {
  background-color: #000;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  main {
    display: grid;
    grid-template-columns: 70% 30%;
    height: 100vh;
  }
  .nota1 {
 padding-right: 2rem;
  }
  .mobileImg {
    display: none;
  }
  .desktopImg {
    display: block;
  }
  .imgContainer {
    height: 800px;
  }
  .text {
    flex-direction: row;
    justify-content: flex-start;
  } 


  .text__titulo {
    margin: 2rem 2rem 0 0;
    font-size: 5rem;
    width: 100%;
    letter-spacing: 3px;
  }
  .text__parrafo{
    margin-top: 2rem;
    width: 75%;
    font-size: 1rem;
    line-height: 1.78rem;
  }
  .text__botonLink {
    margin-top: 1.95rem;
  }
}

/*SECTION*/
section {
  height: 100%;
  padding: 2rem 1rem;
}

.new {
  background-color: #000;
  color: #fff;
  height: 100%;
  gap: 10px 0;
  width: 100%;
  height: 100%;
  padding: 1.5rem 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.new > h2 {
  font-size: 40px;
  color: hsl(35deg, 77%, 62%);
}

.newItems {
  border-bottom: 1px solid #fff;
}

.tres {
  border-bottom: none;
}

.newItems > h3 {
  font-size: 18px;
  padding: 10px 0;
  font-weight: 800;
}

.newItems > h3:hover {
  color: hsl(35deg, 77%, 62%);
  cursor: pointer;
}

.newItems > p {
  font-size: 14px;
  letter-spacing: normal;
  line-height: 1.6;
}

.tops {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.topItems {
  display: grid;
  grid-template-columns: 35% 65%;
  -moz-column-gap: 0;
  column-gap: 0;
  overflow: clip;
  height: 8rem;
}

.imgTop {
  width: 100%;
}

.imgTop > img {
  width: 80%;
  height: 100%;
  display: block;
  margin: auto;
}

.textTop > span {
  font-size: 35px;
  font-weight: 700;
  color: hsl(233deg, 8%, 79%);
  top: -5px;
  position: relative;
}

.textTop > h3 {
  font-size: 16px;
  padding: 10px 0;
  font-weight: 800;
}

.textTop > h3:hover {
  color: hsl(5deg, 85%, 63%);
}

.textTop > p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  padding-right: 15px;
}

@media screen and (min-width: 1024px) {
  section {
    margin: 0rem;
  }
  .new{
    height: 37.5rem;
  }
  .new__titulo{
    margin: 1rem 1rem 0 0.7rem;
  }
  .newItems{
    margin: 1rem 1rem;
    padding-bottom: 2rem;
  }
  .tops {
    flex-direction: row;
    height: 15rem;
    width: 79.5rem;
  }
}

footer{
  font-size: 1rem;
  padding: 0 2rem;
}


